.auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.auth-banner {
  background-color: aqua;
  background: url("../../images/shop-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  width: 70%;
}

.auth-content {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 4rem 3rem;
  font-family: sans-serif;
}

.auth-content > *,
.auth-content > form > * {
  margin-bottom: 3rem;
}

.auth-heading {
  font-size: 2.2rem;
}

.auth-google {
  background-color: lightblue;
  width: 100%;
  margin-bottom: 3rem;
  border: 2px solid lightblue;
}

.auth-google > div {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
}

.auth-google svg {
  width: 30px;
  height: 30px;
}

.auth-google span {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  width: 100%;
}

.breakline {
  width: 100%;
  height: 3px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.breakline span {
  background-color: white;
  color: gray;
  padding: 0 1rem;
  font-size: 1rem;
}

.auth-submit {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.auth-submit > button {
  background-color: lightblue;
  padding: 12px;
}

.auth-submit span {
  color: lightblue;
  cursor: pointer;
}

.auth-submit span:hover {
  text-decoration: underline;
}
