.auth-form {
  width: 90%;
  max-width: 380px;
}

.auth-form h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.auth-submit {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-submit p {
  font-size: 0.7rem;
}

.auth-submit a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 760px) {
  .auth-submit p {
    font-size: 0.8rem;
  }
}
