.input-container {
  background-color: var(--clr-background);
  display: flex;
  padding: 16px;
  margin-bottom: 1rem;
  border: 1px solid var(--clr-text);
  border-radius: 8px;
  position: relative;
}

.input-container > label {
  background-color: var(--clr-background);
  color: var(--clr-text);
  margin-left: 8px;
  padding: 0 8px;
  font-size: 0.9rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}

.input-container > input {
  background: none;
  color: var(--clr-text);
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
}

input:-internal-autofill-selected {
  background-image: none !important;
  background-color: var(--clr-background) !important;
}

@media screen and (min-width: 960px) {
  .input-container {
    padding: 12px;
    margin-bottom: 1.5rem;
  }
}
