.sidebar-container {
  width: var(--sidebar-width);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: left 0.3s;
}

.sidebar {
  background-color: var(--clr-nav);
  width: 90%;
  max-width: 300px;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 24px;
  margin-bottom: 2rem;
}

.sidebar-shopname {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 2px;
}

.sidebar-fullname {
  color: var(--clr-text-secondary);
  font-size: 0.9rem;
}

.sidebar-logout {
  font-size: 0.8rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.sidebar-link {
  display: flex;
  padding: 12px 24px;
  margin: 4px 0;
  letter-spacing: 1px;
}

.hide-sidebar {
  left: -110%;
}

.active {
  background-color: var(--clr-button);
  padding-left: 2.2rem;
  font-weight: bold;
}

@media screen and (min-width: 760px) {
  .sidebar {
    width: 100%;
    max-width: unset;
  }

  .hide-sidebar {
    left: 0;
  }
}
