.dashboard-container {
  height: 200vh;
  background-color: var(--clr-background);
}

.main-container {
  padding: 1rem;
}

@media only screen and (min-width: 760px) {
  .dashboard-container {
    display: grid;
    grid-template-areas:
      "sidebar topnav"
      "sidebar main";
    grid-template-rows: var(--topnav-height) 1fr;
    grid-template-columns: var(--sidebar-width) 1fr;
  }

  .header {
    grid-area: topnav;
  }

  .sidebar-container {
    grid-area: sidebar;
  }

  .main-container {
    grid-area: main;
  }
}
