* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --topnav-height: 4rem;
  --sidebar-width: 100%;

  --clr-background: #f0f0f0;
  --clr-card: #ffffff;
  --clr-nav: #283046;
  --clr-button: #7367f0;
  --clr-button-text: #f0effd;
  --clr-heading: #000;
  --clr-text: #5e5873;
  --clr-text-secondary: #908d9a;
  --clr-text-error: #f96e6f;

  --ff-main: "Montserrat", sans-serif;
  background-color: var(--clr-background);
  font-family: var(--ff-main);
}

body.dark-theme {
  --clr-background: #171e31;
  --clr-card: #283046;
  --clr-nav: #283046;
  --clr-heading: #ffffff;
  --clr-text: #c7cacf;
  --clr-text-secondary: #4e5567;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 760px) {
  body {
    --topnav-height: 5rem;
    --sidebar-width: 300px;
  }
}
