* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --ff-main: "Montserrat", sans-serif;
  font-family: var(--ff-main);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  display: flex;
  border: none;
  border-radius: 2px;
  letter-spacing: 1px;
  cursor: pointer;
}

.line {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 2rem;
}

.line > span {
  background-color: white;
  padding: 0 12px;
}
