* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --topnav-height: 4rem;
  --sidebar-width: 100%;

  --clr-background: #171e31;
  --clr-card: #283046;
  --clr-nav: #283046;
  --clr-button: #7367f0;
  --clr-heading: #ffffff;
  --clr-text: #c7cacf;
  --clr-text-secondary: #4e5567;
  --clr-text-error: #ea5455;

  --ff-main: "Montserrat", sans-serif;
  background-color: var(--clr-background);
  font-family: var(--ff-main);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  background-color: var(--clr-button);
  color: var(--clr-text);
  display: flex;
  border: none;
  border-radius: 2px;
  letter-spacing: 1px;
  cursor: pointer;
}

.line {
  background-color: var(--clr-card);
  width: 100%;
  height: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 2rem;
}

.line > span {
  background-color: var(--clr-background);
  color: var(--clr-heading);
  padding: 0 12px;
}

@media screen and (min-width: 760px) {
  body {
    --topnav-height: 5rem;
    --sidebar-width: 300px;
  }
}
